.albums__list {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1004px;
  padding: 12px;
  padding-bottom: 0;

  @media only screen and (min-width: 1024px) {
    padding: 24px;
    padding-bottom: 10px;
  }
}