<form class="comment-new-wrapper" ng-submit="$ctrl.newComment()">
	<div class="comment-new-pic">
		<img src="" alt="profile-pic">	
	</div>
	<div class="comment-new-inputs-wrapper">
		<div class="comment-new-inputs">		
			<input type="text" ng-model="$ctrl.email" placeholder="email" class="custom-input email">
			<textarea name="" id="" cols="30" rows="10" ng-model="$ctrl.text" placeholder="Write your comment" class="custom-input"></textarea>
		</div>
		<div class="comment-new-submit">
			<input type="submit" value="ADD" class="curved-btn green">			
		</div>
	</div>
</form>
