version: '2'

services:
  db:
    image: mongo
    ports:
      - "27017:27017"
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./src:/src
      - ./dist:/dist
    environment:
      APP_PORT: "3000"
      DB_URL: "mongodb://db:27017/spotifyzier"
    links:
      - "db"
