<form ng-submit="$ctrl.newComment()">
	<div class="comment-new-wrapper">
		<div class="comment-new-pic">
			<img src="" class="circular">	
		</div>
		<div class="comment-new-inputs">	
			<input type="text" ng-model="$ctrl.email" placeholder="email" class="email custom-input">	
			<textarea name="" id="" cols="30" rows="10" ng-model="$ctrl.text" placeholder="Write your comment" class="custom-input"></textarea>			
			<div class="comment-new-submit">
				<input type="submit" value="ADD" class="curved-btn green">			
			</div>
		</div>
	</div>
	
</form>
