$background-body-color: #282828;
$background-home-color: #181818;
$background-header-color: #181818;
$background-transparent-color: transparent;
$background-album-color: #181818;
$background-album-img-color: #03bb4f;
$background-album-img-light-color: #808080;
$background-button-color: #282828;
$background-button-add-color: #181818;
$background-add-comment-form-color: #181818;

$font-color-top-info-p: #ffffff;
$font-color-top-info-p-light: #808080;
$font-color-top-info-h2: #ffffff;
$font-color-button: #ffffff;
$font-color-button-listen: #03bb4f;
$font-color-button-add: #03bb4f;
$font-color-comments-title: #808080;
$font-color-comments-email: #808080;
$font-color-comments-comment: #ffffff;

$border-button-color: #03bb4f;
$border-button-light-color: #808080;