<div class="comments__header">
  <div class="comments__header__title">
    <span class="comments__header__title__text">COMMENTS</span>
  </div>
  <div class="comments__header__adder">
    <span class="comments__header__adder__text">Add comment<span>
    <span class="comments__header__adder__controls">
      <button ng-if="!$ctrl.addingComment" ng-click="$ctrl.startAdding();">ADD</button>
      <button ng-if="$ctrl.addingComment" ng-click="$ctrl.cancelAdding();">CLOSE</button>
    <span>
  </div>
</div>