@import '../../common/common';
@import '../../common/mixins/mixins';

#header {
  width: 100%;
  height: 50px;
  background-color: $background-header-color;

  .input__wrapper {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto;

    .spoticon__search__16 {
      height: 20px;
      top: 16px;
      margin-left: -18px;
      position: absolute;

      &:before {
        font-size: 16px;
        color: #757575;
      }
    }

    form {
      padding: 11px 0;
    }

    input {
      padding-right: 20px !important;
      padding-left: 26px !important;
    }

    .form__control {
      @include form-control();
    }

    .spoticon__x__16 {
      right: 27px;
      height: 14px;
      position: absolute;
      top: 25px;
      color: #88898c;
      line-height: 1.3;
    }
  }
}