<div class="album-list-item-wrapper">
	<div class="album-list-item-img">
		<img ng-src="{{$ctrl.album.images[0].url}}" alt="cover">	
	</div>	
	<div class="album-list-item-info">		
		<div class="album-list-item-details">
			<h3>{{ $ctrl.album.artists[0]["name"] }}</h3>
			<h1>{{ $ctrl.album.name }}</h1>	
	      	<a href="{{$ctrl.album.external_urls.spotify}}" title=""><i class="fa fa-volume-up" aria-hidden="true"></i> Listen on Spotify</a>
		</div>
		<div class="album-list-item-comments">
		    <a ng-click="$ctrl.toggleComments()" ng-hide="$ctrl.enableComments" class="curved-btn green">VIEW COMMENTS</a>
		    <a ng-click="$ctrl.toggleComments()" ng-show="$ctrl.enableComments" class="curved-btn white"> < BACK TO SEARCH</a>	   	
		</div>
	</div>
</div>
<album-comments ng-if="$ctrl.enableComments" album-id="$ctrl.album.id"></album-comments>
