.album-list-wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 60%;
	margin: 0 auto;
}

.album-list-item-wrapper{
	width: 100%;
	background-color: $dark-grey;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: no-wrap;

	.album-list-item-img{
	    display: flex;
		img{
			width: 200px;
		}	
	}

	.album-list-item-info{
		flex-grow: 1;
		padding: 22px 30px 22px 30px;
		display: flex;
		flex-wrap: no-wrap;
		justify-content: space-around;
		.album-list-item-details{
			flex-grow: 2;
			width: 40%;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap; 
		} 

		.album-list-item-comments{
			display: flex;
			flex-direction: column-reverse;
		}
	}
}