.comment-list-item-wrapper{
	background-color: $dark-grey;
	margin-bottom: 10px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	

	.comment-list-item-info{
		padding-left: 10px;
		flex-grow: 1;
		display:flex;
		flex-direction: column;

		.email{
			margin: 0px;
			color: $light-grey;
		}	

		p{
			margin-top: 5px;
			color: $white;
		}		
	}
}