.album-search-wrapper{
	display: flex;
	justify-content: center;
	background-color: $dark-grey;
	padding: 10px;
	margin-bottom: 50px;
	position: relative;

	span { 
	  position: absolute;	
	  top: 26%;
	  left: 25.5%;
	  color: $grey;

	  font-size: 1.5em;
	}

	input{
		text-indent: 24px;
		width: 50%;
		border-radius: 10px;
		border: none;
		padding: 4.5px;
	}
}

