<form>
  <input type="search" data-ng-model="$ctrl.term"/>
  <button data-ng-click="$ctrl.search()">
    <i class="fa fa-search"></i> Buscar
  </button>
</form>
<div class="separator"></div>
<div class="result">
  <img data-ng-src="{{$ctrl.album.images[0].url}}" class="Bitmap"/>
  <div class="album">
    <h3>{{ $ctrl.album.artists[0].name}}</h2>
    <h2>{{ $ctrl.album.name}}</h2>
    <a class="Rectangle-7" data-ng-click="$ctrl.addComment()"><span>Add comment</span></a>
  </div>
</div>
<div class="comments">
</div>
