.comments-header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;

	.comments-header-title{
	}

	.comments-new{
		margin: 20px;
	}
}

.comments-section-wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 60%;
	margin: 0 auto;
}