<search on-search="$ctrl.search($event)"></search>

<album-list-item location="comment" album="$ctrl.album"></album-list-item>

<div class="comments-section-wrapper">	
	<div class="comments-header">		
		<h4 class="comments-header-title">COMMENTS</h4>		

		<div class="comments-new">
			<span ng-click="$ctrl.toggleNewComment()" ng-hide="$ctrl.enableNewComment">Add Comment</span>	
			<span ng-click="$ctrl.toggleNewComment()" ng-show="$ctrl.enableNewComment">Cancel</span>
		</div>	
	</div>

	<comments-new ng-if="$ctrl.enableNewComment" album-id="$ctrl.albumId" add-comment="$ctrl.addComment($event)"></comments-new>

	<comments-list comments="$ctrl.comments"></comments-list>
</div>