// Import from npm
@import 'normalize.css';
// Components
@import 'components/albums/albums';
@import 'components/albums/albums-list/albums-list';
@import 'components/albums/albums-list/albums-list-item/albums-list-item';
@import 'components/comments/comments';
// Common

$background-color: #000000;

body {
  background: $background-color;

  section {
    height: 100vh;
    position: relative;
    width: 100vw;
  }
}
