// Import from npm
@import 'normalize.css';
@import 'components/components';
@import 'common/common';

$background-color: #282828;

body {
  background: $background-color;

  section {
    height: 100vh;
    position: relative;
    width: 100vw;
  }
}
