.albums {
  background-color: $black;

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    padding: 14px;
    background-color: $hard-gray;
    
    form {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      max-width: 1004px;
      height: 24px;
      border-radius: 24px;
      padding: 0 5px;
      background-color: $white;      

      .search-icon {
        position: relative;
        width: 24px;
        height: 24px;

        .fa-search {
          position: absolute;
          top: 3px;
          left: 2px;
          font-size: 16px;
          color: $hard-gray;
        }
      }
      
      input {
        width: 90%;
        height: 100%;
        border: none;
        background: none;
        color: $hard-gray;
        font-size: 12px;
        line-height: 1;
        letter-spacing: 0.5px;
      }
    }
  }
}