@import '../../common/common';
@import '../../common/mixins/mixins';
@import '../../common/fonts/fonts';

#albums {
  width: 100%;
  height: calc(100% - 50px);
  padding-top: 20px;
  overflow-y: auto; 
  background-color: $background-transparent-color;

  .content__wrapper {
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;

    .album__item {
      width: 100%;
      height: 150px;
      margin-bottom: 10px;
      background: $background-album-color;

      &__img {
        width: 150px;
        height: 150px;
        float: left;
        background: $background-album-img-color;

        img {
          width: 150px;
          height: 150px;
        }
      }

      &__description {
        width: calc(100% - 150px - 40px);
        height: 110px;
        float: left;
        padding: 20px;

        &__top__info {
          width: 100%;
          height: calc(100% - 28px);

          p {
            @include font-open-sans(12, 200);
            margin: 0;
            color: $font-color-top-info-p-light;
            text-transform: uppercase;
            min-height: 14px;
          }

          h2 {
            @include font-open-sans(24, 200);
            color: $font-color-top-info-h2;
            margin: 5px 0;
          }
        }

        &__bottom__info {
          width: 100%;
          height: 28px;

          .subcontainer {
            width: 50%;
            height: 100%;
            float: left;

            &.right {

              .button {
                @include custom-button();

                &.listen {
                  width: auto;
                  margin-left: 5px;
                  background: transparent;

                  .text {
                    font-size: 10px;
                    color: $font-color-button-listen;
                  }
                }
              }
            }

            &.left {

              .button {
                @include custom-button();
                border: 1px solid $border-button-color;
                width: auto;
                padding: 0 20px;
                float: right;

                .comments {
                  position: relative;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
}